{% extends 'admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block pagetitle %}
    {% block title %}{% endblock %}
{% endblock %}

{% block menu %}
    <a class="pull-right navi" href="{{ path('fos_user_security_logout') }}">Se déconnecter <i
                class="icon ion-log-out"></i></a>
    <a class="pull-right navi" href="{{ path('finortho_admin_list_users') }}">Gestion utilisateurs</a>
    <a class="pull-right navi" href="{{ path('finortho_admin_exigences') }}">Gestion Exigences</a>
    <a class="pull-right navi" href="{{ path('finortho_admin_commandes') }}">Commandes</a>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="gutter"></div>
        {% block submenu %}
            <div id="actions" class="row" style="margin-bottom: 4rem">
                <div class="col-md-4 text-center">
                    <a href="{{ path('pack') }}" class="text-center">
                        <button class="btn start">Les catégories de packs</button>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="{{ path('packitem') }}" class="text-center">
                        <button class="btn start">Les packs</button>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="{{ path('packproperty') }}" class="text-center">
                        <button class="btn start">Les exigences</button>
                    </a>
                </div>
            </div>
        {% endblock %}
        {% block content %}

        {% endblock %}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/button_effect.js') }}"></script>
    {% block scripts %}
    {% endblock %}
{% endblock %}