{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Renseignez l'axe vertical dans la machine</h3>
        {% for flashMessage in app.session.flashbag.get('error') %}

            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>

        {% endfor %}
        <div class="row">
            <div class="col col-md-6">
                <div id="canvas" style="overflow: hidden; border: 2px grey solid">

                </div>
            </div>
            <div class="col col-md-6">
                <form method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    {{ form_rest(form) }}

                    <button type="submit" class="btn btn-primary">
                        Confirmer l'axe
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/master.min.js') }}"></script>

    <script>
        init("{{ path }}", 'canvas');
    </script>
{% endblock %}