{% extends 'FinorthoFritageEchangeBundle:interface:layout.html.twig' %}

{% block title %}
    Bonjour {{ app.user.username | capitalize }}
{% endblock %}

{% block content %}
    <div class="single">
        {% for flashMessage in app.session.flashbag.get('erase') %}

            <div class="alert alert-success alert-dismissible">
                {{ flashMessage }}
            </div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}

            <div class="alert alert-success alert-dismissible">
                {{ flashMessage }}
            </div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}

            <div class="alert alert-danger alert-dismissible">
                {{ flashMessage }}
            </div>

        {% endfor %}

        <h2>Ajoutez un nouveau produit</h2>

        <form method="post" {{ form_enctype(form) }}>


            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            <button class="btn start" type="submit" role="button"><i class="fa fa-plus"></i> Ajouter un produit
            </button>

        </form>
        {% if commands is defined and commands != null %}
            <h3>Les pièces pour cette commande</h3>
            <table class="table">
                <tr>
                    <th>Fichier</th>
                    <th>Visuel</th>
                    <th>Axe vertical</th>
                    <th>Quantité</th>
                    <th>Actions</th>
                </tr>

                {% for command in commands %}
                    <tr>
                        <td>
                            <a href="{{ path('finortho_fritage_echange_download', { 'id' : command.id}) }}">{{ command.name }}
                                .{{ command.url }}</a></td>
                        <td width="col-md-1">
                            <button class="btn btn-default" id="show{{ loop.index }}" onclick="show{{ loop.index }}()">
                                Voir image
                            </button>
                        </td>
                        <td>{{ command.axis }}</td>
                        <td>{{ command.quantite }}</td>
                        <td>
                            <a href="{{ path('finortho_fritage_echange_erase', {'id': command.id}) }}">
                                <button class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </a>
                            <a href="{{ path('finortho_fritage_echange_modify', {'id': command.id}) }}">
                                <button class="btn btn-warning">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <a class="pull-right" href="{{ path('finortho_fritage_exigences_define') }}">
                <button class="btn btn-default">
                    Valider la commande <i class="fa fa-chevron-right"></i>
                </button>
            </a>
        {% else %}
            <h3>Vous n'avez pas encore importé de produit, ils s'ajouteront ici.</h3>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}

    <script src="{{ asset('js/master.min2.js') }}"></script>

    <script>
        {% for command in commands %}
        function show{{ loop.index }}() {
            var parent = document.querySelector('#show{{ loop.index }}').parentNode;
            parent.removeChild(document.querySelector('#show{{ loop.index }}'));
            var canvas = document.createElement('div');
            canvas.setAttribute('id', 'canvas{{ loop.index }}');
            canvas.setAttribute('style', 'width: 100px');
            parent.appendChild(canvas);

            init("{{ command.WebPath }}", 'canvas{{ loop.index }}');
        }

        {% endfor %}
    </script>


{% endblock %}

