{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2>La pièce {{ name }}.stl a bien été ajoutée :</h2>
        <div id="3D">

        </div>
        <h3>Les dernières pièces ajoutées</h3>
        <table class="table">
            <tr>
                <th>Fichier</th>
                <th>Date d'envoi</th>
            </tr>
            {% for upload in uploads %}
                <tr>
                    <td><a href="{{ upload.webPath }}">{{ upload.name }}.{{ upload.url}}</a></td>
                    <td>{{ upload.date | date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/master.min.js') }}"></script>

    <script>
        init("{{ path }}", 'canvas');
    </script>
{% endblock %}