{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('node_modules/sweetalert/dist/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/mprogress/build/css/mprogress.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/default.css') }}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block body %}
    <div id="container">
        <h3>Nous envoyer des fichiers</h3>

        <div class="container">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <strong class="heading">Attention <i class="icon ion-alert"></i></strong> Seuls les fichiers de type
                stl, pdf, jpg, et png dans la limite de 5 Mo sont acceptés.
            </div>
            <div id="actions" class="row">

                <div class="col-md-12">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <button class="btn  fileinput-button">
                        <i class="icon ion-ios-plus-empty"></i>
                        Ajouter des fichiers...
                    </button>

                    <button type="reset" class="btn cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        Annuler
                    </button>
                    <button type="submit" class="btn  start pull-right">
                        <i class="icon ion-upload"></i>
                        Envoyer
                    </button>
                </div>
            </div>

            <div id="no-content">

                <div class="attachments-button center-block" href="#">

                    <svg class="attachments-icon" xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                         viewBox="0 0 60 60" version="1.1">
                        <title>attachments icon</title>

                        <g class="document-container">
                            <path id="document-background"
                                  d="M28.32 9.286L46.32 9.286 58.32 21.286 58.32 48.286 28.32 48.286 28.32 9.286Z"
                                  stroke="#FFFFFF" stroke-width="4" fill="#FFFFFF"/>
                            <path id="document-paper"
                                  d="M28.32 9.286L46.32 9.286 58.32 21.286 58.32 48.286 28.32 48.286 28.32 9.286Z"
                                  stroke="#4F92F0" fill="#FFFFFF"/>
                            <g class="document-lines" fill="#4F92F0">
                                <rect id="text-line-5" x="33.82" y="39.786" width="6" height="1"/>
                                <rect id="text-line-4" x="33.82" y="36.786" width="19" height="1"/>
                                <rect id="text-line-3" x="33.82" y="33.786" width="16" height="1"/>
                                <rect id="text-line-2" x="33.82" y="30.786" width="19" height="1"/>
                                <rect id="text-line-1" x="33.82" y="27.786" width="16" height="1"/>
                            </g>
                            <path id="paper-fold" d="M58.32 21.286L46.32 21.286 46.32 9.286" stroke="#4F92F0"
                                  fill="none"/>
                        </g>

                        <g class="photo-2-container" fill="#FFFFFF">
                            <rect id="photo-2-background" stroke="#FFFFFF" stroke-width="4" x="9.667" y="10.506"
                                  width="19" height="25"/>
                            <rect id="photo-2-border" stroke="#4F92F0" x="9.667" y="10.506" width="19" height="25"/>
                        </g>

                        <g class="photo-1-container" fill="#FFFFFF">
                            <rect id="photo-1-background" stroke="#FFFFFF" stroke-width="4" x="2.569" y="34.297"
                                  width="25" height="19"/>
                            <rect id="photo-1-border" stroke="#4F92F0" x="2.602" y="34.208" width="25" height="19"/>
                        </g>

                    </svg>

                    <span>Glissez vos fichiers ici</span>

                </div>
            </div>


            <div class="table table-striped files" id="previews">

                <div id="template" class="file-row row">
                    <!-- This is used as the file preview template -->
                    <div class="col col-md-8">
                        <div class="row">
                            <div class="col-md-6"><p class="name" data-dz-name></p></div>
                            <div class="col-md-6"><p class="dz-size" data-dz-size></p></div>
                        </div>
                        <strong class="error text-danger" data-dz-errormessage></strong>
                    </div>
                    <div class="col col-md-4">
                        <button data-dz-remove class="btn cancel single pull-right">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Retirer</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div>
            {{ tree |raw }}
        </div>


    </div>
{% endblock %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('node_modules/sweetalert/dist/sweetalert.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/button_effect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/mprogress/build/js/mprogress.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dropzone.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dropzone_definition.js') }}"></script>
    <script>
        init_dropzone("{{ oneup_uploader_endpoint('commandes_utilisateurs') }}");
    </script>
    <script type="text/javascript" src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/php_file_tree_jquery.js') }}"></script>
{% endblock %}