{% extends 'FinorthoAdminBundle:Interface:index.html.twig' %}

{% block title %}
    Fichiers envoyés
{% endblock %}

{% block body %}

    <div class="container">
        <h4>Fichiers envoyés par les clients :</h4>

        <div class="tree-container">
            {{ tree |raw }}
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/button_effect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/php_file_tree_jquery.js') }}"></script>
{% endblock %}
