{% extends 'FinorthoAdminBundle:Interface:index.html.twig' %}

{% block title %}
    Utilisateurs
{% endblock %}

{% block body %}

    <div class="container">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                {{ flashMessage }}
            </div>
        {% endfor %}

        <h4>Liste des utilisateurs :</h4>

        <div id="actions">
            <div>
                <a href="{{ path('finortho_admin_new_user') }}" class="pull-right">
                    <button class="btn start" style="margin-bottom: 2rem">
                        Ajouter un utilisateur
                    </button>
                </a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('finortho_admin_delete_user', {'id' :  user.id } ) }}">
                                <button type="button" class="btn  danger">
                                    <i class="icon ion-trash-b"></i>
                                    Suprimmer
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




{% endblock %}