{% extends 'FinorthoAdminBundle:Interface:index.html.twig' %}

{% block title %}
    Vos packs
{% endblock %}

{% block content -%}
        <h4>Tous vos packs disponible :</h4>

        <table class="table">
            <thead>
            <tr class="row" >
                <th class="col-md-3">Id</th>
                <th class="col-md-3">Nom</th>
                <th class="col-md-6">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr class="row">
                    <td class="col-md-3"><a href="{{ path('packitem_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td class="col-md-3">{{ entity.name }}</td>
                    <td class="col-md-6">
                        <a href="{{ path('packitem_show', { 'id': entity.id }) }}">
                            <button class="btn fileinput-button">
                                Voir
                            </button>
                        </a>

                        <a href="{{ path('packitem_edit', { 'id': entity.id }) }}">
                            <button class="btn cancel">
                                Mettre à jour
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="actions">

            <a href="{{ path('packitem_new') }}">
                <button class="btn start">
                    Ajouter un nouveau pack
                </button>
            </a>

        </div>
{% endblock %}