{% extends 'FinorthoAdminBundle:Interface:index.html.twig' %}

{% block title %}
    Les commandes
{% endblock %}

{# Resetting the submenu #}
{% block submenu %}
    <div id="actions" class="row" style="margin-bottom: 4rem">
        <div class="text-center">
            <a href="{{ path('finortho_admin_commandes_completed') }}" class="text-center">
                <button class="btn start">Les commandes à traiter</button>
            </a>
        </div>
    </div>

{% endblock %}

{% block content -%}

    <h4>Les dernières commandes</h4>
    <div id="masonery-container">
        {% for commande in commandes %}
            <div class="masonery-item">
                <div class="panel panel-primary">
                    <a href="{{ path('finortho_admin_commandes_single', {'id': commande.id}) }}">
                        <div class="panel-heading">
                            <strong>{{ commande.user.username | capitalize }}</strong>
                            <span class="pull-right">{{ commande.date | date('d-m-Y') }}</span>
                        </div>
                    </a>
                    <div class="panel-body">
                        {% for stl in commande.stls %}
                            <div class="well" style="margin: 2rem 0;">
                                <div style="margin: 1rem 0">
                                    <a href="{{ path('finortho_fritage_echange_download', { 'id' : stl.id}) }}">
                                        <strong>{{ stl.name }}.stl</strong></a>
                                    <span class="pull-right"> Quantité : {{ stl.quantite }}</span>
                                </div>
                                <p style="padding: 0 1rem; word-wrap: break-word">
                                    {{ stl.commentaire }}
                                </p>
                                <h6>Pack : </h6>
                                <ul class="list-group">
                                    {% for item in stl.pack.property %}
                                        <li class="list-group-item">{{ item.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/equire.js') }}"></script>
    <script src="{{ asset('node_modules/savvior/dist/savvior.min.js') }}"></script>
    <script src="{{ asset('js/commandes.js') }}"></script>
{% endblock %}
